// ==================== VARS ====================
// ==================== VARS ====================
$text-color: rgba(255, 255, 255, 0.4);
// ==================== VARS ====================
// ==================== VARS ====================

html {
  body {
    font-family: Inter, sans-serif;
    color: #ffffff;
    background-color: #171836;
  }

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.8);
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
  }

  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.8);
  }
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.button {
  display: inline-block;
  padding: 15px 31px;
  border: 1px solid #f5443b;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 119%;
  color: #f5443b;
  background-color: transparent;
  will-change: transform;
  transition: all 0.6s;

  &:hover {
    transform: scale(1.05);
    transition: all 0.3s;
  }
}
.button--accent {
  padding: 12px 32px;
  border: none;
  background-color: #f5443b;
  font-weight: 700;
  font-size: 14px;
  line-height: 121%;
  color: #ffffff;
}
.button--inactive {
  opacity: 0.5;

  &:hover {
    transform: scale(1);
    cursor: default;
  }
}

// ==================== HEADER ====================
.header {
  display: flex;
  flex-direction: column;
  // height: 100vh;
}
// .header__wrapper {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   height: 100%;
// }
// ==================== HEADER-TOP ====================
.header__top {
  padding: 20px 0;
}
.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top-left {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  max-width: 558px;
}
.header__logo {
}
.logo {
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-list {
  display: flex;

  li:not(:last-child) {
    margin-right: 44px;
  }
  a {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;
    color: rgba(255, 255, 255, 0.6);
    &:hover {
      font-weight: 500;
      color: #ffffff;
      letter-spacing: -0.01em;
    }
  }
}
.header__top-right {
  display: flex;
  align-items: center;
}
.header__lang-btn {
  display: flex;
  align-items: center;
  margin-right: 31px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #d1d1d7;

  svg {
    margin-left: 4px;
  }
}
// ==================== HEADER-BODY ====================
.header__body {
}
.header__body-inner {
  display: flex;
}
.header__body-left {
}
.header__body-left-wrapper {
}
.header__hero-image {
}
.header__hero-book-box {
}
.header__hero-lamp-box {
}
.header__hero-join-box {
}
.header__hero-join-avatar-1 {
}
.header__hero-join-avatar-2 {
}
.header__hero-join-avatar-3 {
}
.header__hero-join-avatar-4 {
}
.header__hero-join-curcle-btn {
}
.header__hero-ell-decor-top {
}
.header__hero-ell-decor-bottom {
}
.header__body-right {
  display: flex;
  flex-direction: column;
  max-width: 506px;
  // *:last-child {
  //   margin-bottom: 0;
  // }
}
.header__heading {
  h1 {
    margin-bottom: 24px;
  }
}
.header__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 56px;
}
.header__body-search-form {
  position: relative;
  display: flex;
  margin-bottom: 56px;

  input {
    flex-grow: 1;
    background: #1f2143;
    border-radius: 12px;
    padding: 22px 60px 22px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $text-color;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $text-color;
    }
  }

  button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 12px;
    border-radius: 6px;
    background-color: #282b57;

    svg {
      will-change: transform;
      transition: all 0.6s;
    }

    &:hover svg {
      transform: scale(1.1);
      transition: all 0.3s;
    }
  }
}
.header__suggestions {
}
.header__sugg-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: $text-color;
  margin-bottom: 34px;
}
.header__sugg-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  a {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(154, 156, 203, 0.6);
    padding: 7px 17px;
    border: 1px solid rgba(154, 156, 203, 0.6);
    border-radius: 8px;
    will-change: transform;
    transition: all 0.6s;

    &:hover {
      color: #ffffff;
      border: 1px solid #f5443b;
      background-color: #f5443b;
      transition: all 0.3s;
    }
  }
}
.header__sugg-item {
}
.header__sugg-link {
}
